html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #b6c8f1;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.mainText{
    text-align: center;
}

.jokes{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #cfdcf6;
    border: 2px solid #91a5e8;
    width: 450px;
    height: 300px;
}

#category{
    font-size: 2.5rem;
    margin: 10px 0px;
}

#type{
    color: black;
    font-size: 2rem;
}

.acomodar{
    color: #030303;
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 600;
}

.button{
    display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 15px;
    padding: 1rem;
    border: 2px solid #91a5e8;
    border-radius: 4px;
    background-color: #cfdcf6;
    transition: all 0.3 ease-in-out 0.2s;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.1);
}